/*font-family: 'Open Sans', sans-serif;
- h1, h2, p (quality info)
*/

/*font-family: 'Roboto Slab', serif;
- placeholders, save button text, p (idea text)
*/

article {
  border-bottom: 1px solid #D1D3D4;
  margin-top: 10px;
}

body {
  height: 100vh;
  width: 100vw;
}

h2 {
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  margin: 0%;
  width: 16%;
}

input[type="image"] {
  margin-right: 10px;
  margin-top: 20px;
  width: 22px;
}

section {
  margin: auto;
  height: 50vh;
  width: 335px;
  /*height: 50%;*/
}

::placeholder {
  color: #D1D3D4;
  font-family: 'Open Sans', sans-serif;
}

.delete-button {
  left: 137px;
  position: relative;
  top: 2px;
}

.idea-text {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.15%;
  margin-top: 0.5%;
}

.search-bar {
  border: 2px solid #D1D3D4;
  border-radius: 0%;
  font-size: 14pt;
  padding: 0.2em;
  padding-left: 0.7em;
  width: 332px;
}

.quality {
  font-family: 'Roboto Slab', serif;
}

.quality-value {
  font-family: 'Open Sans', sans-serif;
}

.quality, .quality-value {
  bottom: 24px;
  color: #6D6E71;
  display: inline;
  left: 7px;
  margin: 0.5px;
  position: relative;
}

.vote-button {
  margin-bottom: 16px;
}