article {
  border-bottom: 1px solid #D1D3D4;
  margin-top: 10px;
}

body {
  height: 100vh;
  margin-left: 0;
  margin-top: 0;
  width: 100vw;
}

div {
  bottom: 10px;
  display: inline-block;
  font-size: 1.2em;
  left: 12px;
  position: relative;
  width: 160px;
}

h2 {
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  margin: 0%;
  width: 16%;
}

::placeholder {
  color: #D1D3D4;
  font-family: 'Open Sans', sans-serif;
}

.delete-button {
  background-image: url('delete.svg');
  border: transparent;
  float: right;
  height: 32px;
  margin-right: 10px;
  margin-top: 20px;
  width: 32px;
  position: relative;
  top: -20px;
}

.delete-button:hover {
  background-image: url('delete-hover.svg');
  border: transparent;
  float: right;
  height: 32px;
  margin-right: 10px;
  margin-top: 20px;
  width: 32px;
  position: relative;
  top: -20px;
}

.downvote {
  background-image: url('downvote.svg');
  background-position: cover;
  background-repeat: no-repeat;
  border: transparent;
}

.downvote:hover {
  background-image: url('downvote-hover.svg');
  background-position: cover;
  background-repeat: no-repeat;
}

.idea-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50vh;
  width: 53%;
}

.idea-text {
  overflow-wrap: break-word;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.15%;
  margin-top: 0.5%;
  font-size: 1.5em;
}

.search-bar {
  border: 2px solid #D1D3D4;
  border-radius: 0%;
  font-size: 2rem;
  padding-left: 0.5rem;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
}

.quality {
  font-family: 'Roboto Slab', serif;
}

.quality-value {
  font-family: 'Open Sans', sans-serif;
}

.quality, .quality-value {
  color: #6D6E71;
  display: inline-block;
}

.header {
  font-family: 'Roboto Slab';
  font-size: 2.5em;
  background-color: #E5F3F2;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
}
.idea-header {
  color: #00a79D;
  display: inline;
  margin-top: 2.5rem;
}

.box-header {
  margin-top: 2.5rem;
  color: #6D6E71;
  display: inline;
}

.submission-form {
  width: 100%;
  height: 21.1rem;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-main {
  display: block;
  width: 53%;
  margin-top: 1.5rem;
  font-size: 2rem;
  height: 3.2rem;
  color: #939598;
  padding-left: .5rem;
}

.save {
  width: 54%;
  font-size: 2rem;
  height: 4.2rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  color: #FFFFFF;
  background-color: #00A79D;
}

.idea-title {
  margin-top: 3.7rem;
}

.upvote {
  background-image: url('upvote.svg');
  background-position: cover;
  background-repeat: no-repeat;
  border: transparent;
}

.upvote:hover {
  background-image: url('upvote-hover.svg');
  background-position: cover;
  background-repeat: no-repeat;
}

.vote-button {
  height: 32px;
  margin-bottom: 16px;
  margin-right: 10px;
  margin-top: 20px;
  width: 32px;
}






